<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Newfie Nook</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
  <header>

  <div class = "announcementBar">
    <h2>Discover Favourite Treats & Local Treasures From The Rock!</h2>
  </div>


  <nav> 
    <div class = "navBox" id = "navBox1">
      <div class="dropdown">
        <button class="dropbtn" onclick="myFunction()">
          <a href = "/">
            <img src = "/images/menu.png" alt = "Menu" class = "icon" id = "menuIcon" />
          </a>
        </button>
        
        <div class="dropdown-content" id="myDropdown">

          <div class = "dropdownLink" id = "productsLink">
            <a href="/pages/products" class = "dropdownLink">
            <img src = "/images/box.png" alt = "Products" class = "icons" id = "productsIcon" />
            All Products</a>
          </div>

          <div class = "dropdownLink" id = "categoriesLink">
            <a href="/pages/categories" class = "dropdownLink">
            <img src = "/images/apps.png" alt = "Categories" class = "icons" id = "categoriesIcon" />
            Categories</a>
          </div>

          <div class = "dropdownLink" id = "vendorsLink">
            <a href="/pages/vendors" class = "dropdownLink">
            <img src = "/images/shop.png" alt = "Vendors" class = "icons" id = "vendorsIcon" />
            Vendors</a>
          </div>
          
          <div class = "dropdownLink" id = "aboutLink">
            <a href="/pages/about" class = "dropdownLink">
            <img src = "/images/information.png" alt = "About" class = "icons" id = "infoIcon" />
            About</a>
          </div>

          <div class = "dropdownLink" id = "contactLink">
            <a href="/pages/contact" class = "dropdownLink">
            <img src = "/images/email.png" alt = "Contact" class = "icons" id = "contactIcon" />
            Contact</a>
          </div>

        </div>
        </div> 
    </div>
    
    <div class = "navBox" id = "navBox2">
      <a href = "/">
        <img src = "/images/home (1).png" alt = "Home" class = "icon" id = "homeIcon" />
      </a>
    </div>
    
    <div class = "navBox" id = "navBox3">
      <a href = "/pages/about">
        <img src = "/images/information.png" alt = "About" class = "icon" id = "infoIcon" />
      </a>
    </div>

    <img src = "/images/nlNookLogo.png" alt = "Newfie Nook Logo" class = "logo" />
    

    <div class = "navBox" id = "navBox4">
      <div class = "box">
        <div class="cart-count">0</div>
        <img src = "/images/trolley-cart.png" alt = "Cart" class = "icon" id = "cart-icon"/>
    </div></div>

    <div class="cart">
      <div class="cart-title">Cart Items</div>
      <div class="cart-content">
    </div>

    <div class="total">
      <div class="total-title">Total</div>
      <div class="total-price">$</div>
    </div>

    <button class="btn-buy">
      <img src = "/images/cash-register (1).png" alt = "Checkout" class = "icon" id = "checkoutIcon" />
      Place Order</button>

    <button class = "close" id = "cart-close">
      X
    </button>
    </div>

    <div class = "navBox" id = "navBox5">
      <a href = "/pages/account">
        <img src = "/images/profile.png" alt = "LogIn" class = "icon" id = "logInIcon" />
      </a>
    </div>

    <div class = "navBox" id = "navBox6">
      <a href = "/pages/checkout">
        <img src = "/images/cash-register (1).png" alt = "Checkout" class = "icon" id = "checkoutIcon" />
    </a>
    </div>
  </div>
  </nav>

  <div class ="banner">
    <img src = "/images/nlbanner.png" alt = "Newfoundland Banner" class = "bannerImg" />
  </div>
</header>
  <!-- <div class="home">
    <% products.forEach(product => { %>
      <%- include('product', { product: product }) %>
    <% }) %>
  </div> -->
<script type="module" src="/scripts/scripts.js"></script>
</body>
</html>







  <!-- {isCartVisible && (
    <div className="shoppingCartDropdown">
      <h2>Shopping Cart</h2>
      <div className="cartItems">
        <ShoppingCart />
      </div>
    </div>
  )}
  

{showAddedToCartAlert && (
  <div className="addedToCartAlert">
    Added to cart!
  </div>
)}

<div className="categories">
  <div className="category"> 
    {categories.map((category, index) => (
      <p key={index}>
        <button
          key={index}
          className={selectedCategory && selectedCategory.includes(category) ? "categoryBar categoryBarSelect" : "categoryBar"}
          onClick={() => handleCategoryToggle(category)}
        >
          {category}
        </button>
      </p>
    ))}

    <button
      className="showAllBtn"
      onClick={() => {
        handleCategoryToggle(null);
        setDisplayedProducts(shuffledProducts);
      }}
    >
      Show All
    </button>

    <h2 className="sortBy">Sort By: </h2>
    <button className="sortBtn" onClick={sortProducts}>
      {sortButtonText}
    </button>
  </div>
</div>

<div className="productList">
  <div className="listedProduct">
    {displayedProducts.map((product) => (
      <div className="item" key={product.id}>
        <div className="productTitle">
          <h3 className="h3Title">{product.title}</h3>
        </div>

        <div className="productImage">
          <img
            src={product.image}
            alt={product.title}
            className="image"
            onClick={() => handleProductClick(product)}
          />
        </div>

        <p className="productPrice">${product.price}</p>
        <div className="productDetails">
          <div className="productActions">
            <label>
              Qty:
              <input
                className="qtyInput"
                type="number"
                min="1"
                value={quantities[product.id] || 1}
                onChange={(e) => handleQuantityChange(product, parseInt(e.target.value, 10))}
              />
            </label>
            <div className="addCartBtn">
              <button
                className="addCartBtn"
                onClick={() => handleAddToCart(product)}
              >
                <img
                  src={addCartIcon}
                  alt="Add to Cart"
                  className="icon"
                  id="addCartIcon"
                />
              </button>
            </div>
          </div>
        </div>
      </div>
    ))}
  </div>
</div>

{selectedProduct && (
  <ProductDetailsModal
    product={selectedProduct}
    onClose={handleCloseModal}
  />
)}
<footer>
  <ScrollToTop smooth className = "scrollTop" />
  <p>
  © Copyright Python Pink - 2023
  </p>
  <a href = "https://github.com/RyanGuinchard/Semester2-Final-Sprint/" target="_blank" >
  <img src = {github} alt = "GitHub Repo" className = "githubImg" /></a>
<div className = "collaborators">

<a href = "#" target="_blank">
<h3 className = "collaborators">Christopher Cormier</h3></a><br />

<a href = "#" target="_blank">
<h3 className = "collaborators">Malerie Earle</h3></a><br />

<a href = "https://ryanguinchard.github.io/Portfolio2023-2024/" target="_blank">
<h3 className = "collaborators">Ryan Guinchard</h3></a><br />

<a href = "http://justins-portfolio.netlify.app" target="_blank">
<h3 className = "collaborators">Justin Whelan</h3></a><br />
</div>
  
</footer> -->
